.brand-logo {
    font-size: 1.3em !important;
}

.nav-wrapper {
    background-color: #446ccf !important;
}

.tabs {
    background-color: #f8ed08 !important;

}

.tabs .tab a {
    color: white !important;
    text-shadow: 0 1px 10px #aeb4a9;
}

.tabs .indicator {
    background-color: #446ccf !important;
}

#profile-pic {
    max-height: 200px;
}