body {
    font-family: 'Ubuntu', sans-serif;
}

.title {
    font-size: 1.3em !important;
    margin: 0 !important;
    padding-top: 10px;
}

.nav-wrapper {
    background-color: #446ccf !important;
}

.tabs {
    background-color: #f8ed08 !important;

}

.tabs .tab a {
    color: white !important;
    text-shadow: 0 1px 10px #aeb4a9;
}

.tabs .indicator {
    background-color: #446ccf !important;
}

#profile-pic {
    max-height: 200px;
}

ul>li {
    list-style-type: lao !important;
}