/*Color Palette
#F55D3E - Orange Soda
#F7CB15 - Jonquil
#777DA7 - Shadow Blue
#FFFFFF - White
#76BED0 - Dark Sky Blue*/

header {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}

#name {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#contact-shortcut {
    margin-right: 5%;
}

.links {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}

footer {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    margin: 3%;
}
